<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "assets/css/layout.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "assets/img/favicon-16x16.png" | relative_url }}">

  <title>SnowWall: A visual firewall for the surveillance society</title>
  <meta name="description" value="created to shake the public apathy around privacy, SnowWall is a visual networking tool which provides insights and control into the networking activity on a Windows-based system. SnowWall allows you to block outgoing traffic selectively, based on country, organization or program.">
</head>
