---
layout: default
---

<article class="home">

    <div id="map">
        <div class="row">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h1 class="scramble">a visual firewall for the surveillance society_</h1>
            <h2>created to shake the public apathy around privacy, SnowWall is a visual networking tool which provides insights and control into the networking activity on a Windows-based system. SnowWall allows you to block outgoing traffic selectively, based on country, organization or program.</h2>   
            <a class="button red">Download (Coming soon)</a>   
            <a class="button blue" href="/about">Motivation</a>   
            <a class="button blue" href="/contribute">Contribute</a>   
            <p>&nbsp;</p>   
            <h3><span class="blue">> </span>system & network monitoring</h3>   
            <h3><span class="blue">> </span>data flow visualisations</h3>   
            <h3><span class="blue">> </span>firewall control</h3>
            <h3><span class="blue">> </span>privacy-preserving geolocation</h3>
        </div>
    </div>

    <div class="container" id="features">
        <div class="row"><div class="padded">
            <div class="col-1-of-2">
                <h1 class="underline"><span class="blue">1.</span> Monitor</h1>
                <h2>SnowWall monitors network bandwidth usage, network traffic and processes in real time and logs them to a local database.</h2>
            </div>
            <div class="col-1-of-2">
                <img src="/assets/img/1-monitor.png">
            </div>
        </div></div>

        <div class="row">
            <div class="col-1-of-2">
                <h1 class="underline"><span class="blue">2.</span> See</h1>
                <h2>SnowWall displays network connection with respect to their geographical destination or organization, so you always know where your outbound data is going and if anyone is tracking your operating system.</h2>
            </div>
            <div class="col-1-of-2">
                <img src="/assets/img/2-see.png">
            </div>
        </div>

        <div class="row"><div class="padded">
            <div class="col-1-of-2">
                <h1 class="underline"><span class="blue">3.</span> Filter</h1>
                <h2>SnowWall supports complex poliices that can filter network traffic according to different dimensions, such as by destination country, organization, or originating application. Moreover, it provides direct and easy access to creating and scheduling rules in the Windows Firewall required for these policies.</h2>
            </div>
            <div class="col-1-of-2">
                <img src="/assets/img/3-filter.png">
            </div>
        </div></div>

        <div class="row">
            <div class="col-1-of-2">
                <h1 class="underline"><span class="blue">4.</span> Geolocate</h1>
                <h2>SnowWall needs IP-based geolocation to provide the information necessary for the security policies, and provides a leading research platform for privacy-preserving geolocation.</h2>
            </div>
            <div class="col-1-of-2">
                <img src="/assets/img/4-geolocate.png">
            </div>
        </div>

        <div class="row">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>

</article>
